#products-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}
.container {
  height: 1000px;
}

.header-ul {
  list-style-type: none;
}

.navbar {
  box-sizing: border-box;
  display: block;
  background-color: rgb(34, 122, 122);
  height: 100px;
}

.header-ul a {
  color: aliceblue;
  font-size: large;
  text-decoration: none;
}

.nav-head , .footer-bar {
  padding: 1.2rem;
}
.footer {
  background-color: aqua;
  height: 80px;
}

